replicaCount: 1

image:
  repository: scopingbotacr.azurecr.io/scopebot-frontend
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets:
  - name: acr-secret
  
service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
